.clients {
  border-bottom: 1px solid #dedede;
}

.clients__container {
  max-width: 1260px;
  margin: 60px auto 90px;
}

.clients__title {
  margin: 0 0 60px;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.clients__image {
  width: 100%;
}
