.clients {
  border-bottom: 1px solid #dedede;
  padding: 0 20px;
}

.clients__container {
  max-width: 1260px;
  margin: 60px auto;
}

.clients__title {
  margin: 0 0 60px;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 290px));
  justify-content: space-between;
  grid-gap: 30px;
}

.clients__image {
  justify-self: center;
  align-self: center;
}

.clients__image:nth-child(13) {
  grid-column: 2/4;
}