.feedback {
  border-bottom: 1px solid #dedede;
  padding: 0 20px;
}

.feedback__container {
  max-width: 1260px;
  display: grid;
  grid-template-columns: calc(40% - 15px) 60%;
  grid-gap: 40px 15px;
  margin: 60px auto;
}

.feedback__image {
  display: block;
  grid-row: 1/4;
  width: 100%;
  max-width: 455px;
  max-height: 390px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.feedback__title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.01em;
  margin: 0;
  grid-column: 2;
  align-self: center;
}

.feedback__subtitle {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.035em;
  margin: 0;
  grid-column: 2;
  align-self: center;
}

.feedback__form {
  display: grid;
  grid-template-columns: 300px max-content;
  grid-column: 2;
  align-self: center;
  grid-gap: 0 15px;
}

.feedback__submit-site {
  background-color: #ccc;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 6px 10px;
}

.feedback__submit-site:hover {
  background-color: #448cff;
}

.feedback__file {
  grid-column: 1/3;
  height: 20px;
  justify-self: start;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #686868;
  text-transform: none;
  padding-left: 0;
  padding-right: 0;
}

/* .feedback__checkbox-true {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2d95f4;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.feedback__label .feedback__checkbox:checked + .feedback__checkbox-true:before {
  content: "";
  display: block;
  width: 9px;
  height: 11px;
  background-image: url(/images/feedback/checked.svg);
} */

/* .feedback__file-block {
  grid-row: 3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 5px;
  align-items: center;
  font-size: 12px;
  line-height: 13px;
  color: #686868;
  margin-top: 14px;
  cursor: pointer;
}

.feedback__button {
  grid-row: 3;
  grid-column: 1/3;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 13px;
  color: #686868;
  margin-top: 14px;
} */

/* .feedback__button::before {
  content: "";
  width: 10px;
  height: 11px;
  display: block;
  background-image: url(/images/feedback/plus.svg);
  background-size: cover;
  background-position: center;
  margin-right: 3px;
} */

/* .feedback__submit {
  width: 149px;
  height: 46px;
  grid-row: 1;
  grid-column: 2;
  background: #448cff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.feedback__form-block {
  display: flex;
  border-radius: 4px;
} */

/* .feedback__select {
  width: 50px;
  height: 46px;
  background: #fff;
  border: 1px solid #CACACA;
  border-right: none;
  box-sizing: border-box;
  padding: 0 5px;
  border-radius: 4px 0 0 4px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #28293d;
}

.feedback__select {
  width: 50px;
  height: 46px;
  border-right: none;
  border-radius: 4px 0 0 4px;
} */

/* .feedback__input-phone-block {
  width: 240px;
  height: 40px;
  background: #fff;
}

.feedback__button-phone {
  width: 46px;
  height: 46px !important;
  background: #fff;
  border-right: none !important;
}

.feedback__input-phone {
  width: 100% !important;
  height: 46px !important;
  border-radius: 0 4px 4px 0;
  font-size: 14px !important;
  line-height: 24px !important;
  padding-top: 2px;
} */