.details-case__title {
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #2D2D2D;
  margin: 0 0 30px;
}

.details-case__subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #2D2D2D;
  margin: 0 0 10px;
}

.details-case__text {
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  color: #2D2D2D;
  margin: 0 0 30px;
}